/* General settings */
html {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #429859;
  text-align: left;
  font-size: 100%;
}

h3 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

h1, h2, h3 {
  margin: 0.4rem 0rem 0.2rem;
}

body {
  margin: 0rem;
}

ul {
  margin: 0rem;
}

p {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

img {
  max-width:100%;
  max-height:100%;
}

/* User defined classes */
.sidebar a:link {
    color: #FFFFFF;
}

.sidebar a:visited {
    color: #C2C2C2;
}

.sidebar a:hover {
    color: #47FF75;
}

.sidebar a:active {
    color: #47FF75;
}

.sidebar {
  overflow: auto;
  position:fixed;
  width: 20rem;
  top: 0rem;
  bottom: 0rem;
  padding: 0.5rem;
  margin: 0.3rem;
  margin-bottom: 0.7rem;  
  color: #FFFFFF;
  background-color: #444A45;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #525252;
}

.content {
  overflow: auto;
  position:fixed;
  width: (100%);
  left: 22rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding-right: 1rem;
}

.page-content, .post, .post-footer{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.7rem;
  background-color: #EEEEEE;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #525252;
}

.post-header{
  padding: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: #004200;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #525252;
}

.post-header{
  color: #FFFFFF;
  background-color: #305E30;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #525252;
}
