/* General settings */
html {
  font-family: 'RobotoDraft', sans-serif;
  text-align: left;
  font-size: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

h1, h2, h3 {
  margin: 0rem;
}

img {
  max-width:100%;
  max-height:100%;
}

a {
}

/* Polymer specific */
paper-item {
  text-align: left;
}

core-icon {
  color: white;
}

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

core-menu{
  margin-left: 0;
  margin-right: 0;    
}

/* Classes */
.content {
  padding: 1rem;
  margin: 1rem;
}

.paginatorText{
  font-size: 0.7rem;
  text-align: center;
}

/* IDs */ 
#navheader {
  background-color:#4CAF50;
}

#drawermenu {
  background-color:#4CAF50;
}

#drawercontent {
    margin: 0.5rem;
    background-color:#E8F5E9;
}

#drawercontent a{
  color: black;
}

#drawercontent paper-item:hover {
  background-color:rgba(0,0,0,0.2);
}

#navheader span{
  height: 100%;
  width: 100%;
}

#navheader a{
  color: white;
}

#navheader paper-item:hover {
  background-color:rgba(255,255,255,0.2);
}

#drawermenu{
  background-color:#FFFFFF;
  color: black;
}

#mainheader{
  color: white;
  background-color:#4CAF50;
}

#mainheader span{
  white-space: nowrap;
}

#drawerpanel{
}

#navicon{
}
