html {
}

@media (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  margin:  0px;
}

div {
  border-style: solid;
  border-width: 0.1rem;
}

img {
  max-width:100%;
  max-height:100%;
}

.sidebar {
  text-align: center;
  padding: 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

.content {
}

@media (min-width: 48rem) {
  .content {
    margin-left: 20.1rem;
  }
}
