<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} {{ site.tagline }}
    {% else %}
      {{ page.title }} {{ site.title }}
    {% endif %}
  </title>

  
  <!-- CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/cramsan.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- JS Helper -->
  <script type="text/javascript" src="/public/js/util.js"></script>
</head>
