<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-28PSD4R87V"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-28PSD4R87V');
  </script>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} {{ site.tagline }}
    {% else %}
      {{ page.title }} {{ site.title }}
    {% endif %}
  </title>

  
  <!-- CSS -->
  <link rel="stylesheet" href="/public/cramsan-layout.css">
  <link rel="stylesheet" href="/public/cramsan-style.css">
  <link rel="stylesheet" href="/public/pygments-default.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico">
</head>
