<h2>Pages</h2>
  {% assign pages_list = (site.pages | sort: 'index') %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.title == "Home" %}
        {% continue %}
      {% endif %}
      {% if node.layout == "page" %}
        <div {% if page.url == node.url %}class="core-selected"{% endif %}" onclick="cramsanHelper.goToUrl('{{  node.url  }}')">
          <a href="{{ node.url }}">
            {{ node.title }}
          </a>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
