<h2>Pages</h2>
<core-menu>
  {% assign pages_list = (site.pages | sort: 'index') %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.title == "Home" %}
        {% continue %}
      {% endif %}
      {% if node.layout == "page" %}
        <paper-item {% if page.url == node.url %}class="core-selected"{% endif %}" onclick="cramsanHelper.goToUrl('{{  node.url  }}')">
          {{ node.title }}
        </paper-item>
      {% endif %}
    {% endif %}
  {% endfor %}
</core-menu>
