<div>
  {% if post.buffer %}
  {% elsif page.title == "Home" %}
    <h2><a href={{ post.url }}>{{ post.title }}</a></h2>
  {% endif %}  
  <h4>
  {% if post.buffer %}
  <h6>{{ post.date | date_to_string }}</h6>
  {% else %}
  {{ post.date | date_to_string }}
  {% if post.tags.size > 0 %}
    - Tag{% if post.tags.size > 1 %}s{% endif %}:
      {{ post.tags | sort | join: ", " }}
  {% endif %}
  {% endif %}
  </h4>

  {% if page.title == "Home" %}
    {{ post.content }}
  {% else %}
    {{ content }}
  {% endif %}  

  <hr></hr>
</div>
