<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}

  <body>
    <nav class="w3-sidenav w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:350px;">
      {% include sidebar.html %}
    </nav>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer">
    </div>
    
    <div class="w3-main" style="margin-left:350px;">

      <div id="myTop" class="w3-top w3-container w3-padding w3-theme w3-large">
        <i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right" onclick="w3_open()"></i>
        <span id="myIntro" class="w3-hide">
          {% if page.title != "Home" %}
            <h1>{{ page.title }}</h1>
          {% else %}
            <h1>{% include motd.html %}</h1>
          {% endif %}
        </span>
      </div>

      <header class="w3-container w3-padding w3-padding-32 w3-theme w3-large">
        <h1>
          {% if page.title != "Home" %}
            {{ page.title }}
          {% else %}
            {% include motd.html %}
          {% endif %}
        </h1>
      </header>
      
      <br>
      <div class="w3-container w3-padding-jumbo">
        {{ content }}
      </div>

      <footer class="w3-container w3-theme w3-padding-jumbo">
        {% include footer.html %}
      </footer>
         
    </div>
  </body>
</html>