<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body undefined>
    <core-scaffold>
      <core-header-panel navigation flex>
        <core-toolbar>
          <span>SOMETHING GOES HERE</span>
        </core-toolbar>
        <core-menu>
          {% include sidebar.html %}
        </core-menu>
      </core-header-panel>
     
      <span tool>Title</span>
      
      <div class="content">
        {{ content }}
      </div>
    </core-scaffold>
  </body>
</html>
